.LogInInfo{
  color: black;
}
.MainText{
  display: flex;
  align-items: center; /*центрира текста по вертикал*/
  justify-content: center; /*центрира текста по хоризонтал*/
  height: 200px;  /*задава височината на целия екран*/
  font-size: 24px;
  color: black;
}
.navBar{
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 20px; /*разстоянието м/у елементите */
  padding: 16px;
  position: absolute;
  top:0;
  left: 0;
  color: black;
}
.logo{
width: 100px;
height: 100px;
}
img{
  display:block;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
}
.red-text{
  color:red;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
